{% extends 'user/base.html' %}
{% load static %}

{% block header %}     
    <!-- Header -->
    <section id="header" class="main-header contact-header inner-header">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="site-nav-bar">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'web_login' %}">Login</a></li>
                            <li><a href="{% url 'web_register' %}">Register</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
            
            <div class="intro row">
                <div class="overlay"></div>
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Confirm Reset</li>
                    </ol>
                </div>
            </div> <!-- /.intro.row -->
        </div> <!-- /.container -->
        <div class="nutral"></div>
    </section> <!-- /#header -->
{% endblock header %}

{% block content %}
    <section class="contact">
        <div class="container page-bgc">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box">
                        <p>Complete Change Of Password</p>
                        <h2 class="title mt0">With us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="boxed">
                    <div class="col-sm-12">
                        <p class="inner-p">
                            With this, your old password gets deactivated and you can only sign In with the new one.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="boxed">
                    <div class="col-sm-12">
                        <h4>Fill Form to register</h4>
                        <form class="contact-form" id="contactForm" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Reset Code*" id="reset_code" name="reset_code" required>
                                    </div> <!-- /.form-group -->
                                </div> <!-- /.col-sm-6 -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email*" id="email" name="email">
                                    </div> <!-- /.form-group -->
                                </div> <!-- /.col-sm-6 -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="New Password*" id="password" name="password" required>
                                    </div> <!-- /.form-group -->
                                </div> <!-- /.col-sm-6 -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password" id="password2" name="password2">
                                    </div> <!-- /.form-group -->
                                    <p class="invalid-feedback text-warning">password must contain: Uppercase, lowercase, a special character like (@,#,$,%) and must be atleast 8 characters</p>
                                </div> <!-- /.col-sm-6 -->
                                <div class="text-center mt20 col-sm-12">
                                    <p><b><a href="{% url 'web_login' %}">GO TO LOGIN</a></b></p>
                                    <button type="submit" class="btn btn-robot pull-left" id="cfsubmit">Submit</button>
                                </div>
                            </div>
                        </form>
                        <div id="contactFormResponse"></div>
                    </div> <!-- /.col-sm-12 -->
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
