{% extends 'user/base.html' %}
{% load static %}

{% block header %}  
    <!-- Header -->
    <section id="header" class="main-header">
        <div class="container">

            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="site-nav-bar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'web_profile' %}">Profile</a></li>
                                <li><a href="{% url 'web_logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'web_login' %}">Login</a></li>
                                <li><a href="{% url 'web_register' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
            
            <div class="intro row">
                <div class="overlay"></div>
                <div class="col-sm-6 col-sm-offset-6">
                    <h2 class="header-quote">Welcome To Our E-wallet</h2>
                    <h1 class="header-title">Arole<br><span class="thin">Playstation Center</span></h1>
                </div>
            </div> <!-- /.intro.row -->
        </div> <!-- /.container -->
        <div class="nutral"></div>
    </section> <!-- /#header -->
{% endblock header %}


{% block content %}

    <!-- FAQ -->
    <section class="faq">
        <div class="container page-bgc">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box">
                        <p>Frequently asked Questions</p>
                        <h2 class="title mt0">About the gaming site</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="inner-p">
                        We provide seamless and cashless policy to all our customers offline without needing your internet connection when making payment in any of our gaming brand ( no cash or transfer is allow in any our gaming branch ).
                    </p>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
                        <div class="panel panel-default">
                            <div id="headingOne" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">How does it work?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    <p><b>1. </b>Register for a new account and if you're existing account holder login into your account if you're first timer.</p>
                                    <p><b>2. </b>Generate your QR code and create a passcode you wish too to secure your QR code.</p>
                                    <p><b>3. </b>Fund your account with any amount of your choice by clicking on fund my Acct and follow the steps that follows.</p>
                                    <p><b>4. </b>You can use your QR code offline in of our gaming branches without internet connection</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div id="headingTwo" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed"> How can I use my QR code offline?</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse" aria-expanded="false">
                                <div class="panel-body">
                                    <p>Visit any of our gaming branch and show our staff your QR code for scanning, you will input your pin to let us know you’re the real owner.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div id="headingThree" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">What if my QR code is compromised?</a>
                                </h4>
                            </div>
                            <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse" aria-expanded="false">
                                <div class="panel-body">
                                    <p>Yes you can by login into your gaming app and click on Qr then reset your QR-Code which automatically deactivates any existing ones.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div id="headingFour" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="collapsed">Do I get refund when someone else use my QR code without my concent?</a>
                                </h4>
                            </div>
                            <div id="collapseFour" role="tabpanel" aria-labelledby="headingFour" class="panel-collapse collapse" aria-expanded="false">
                                <div class="panel-body">
                                    <p>We are not responsible for that , it’s advisable to keep your QR code safe and not share your password with friends .</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div id="headingFive" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed">If I need help regarding my funding or something else what should I do?</a>
                                </h4>
                            </div>
                            <div id="collapseFive" role="tabpanel" aria-labelledby="headingFive" class="panel-collapse collapse" aria-expanded="false">
                                <div class="panel-body">
                                    <p> Contact our support center by clicking on CONTACT US button at the top of the site for further assistance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product -->
    <section id="product" class="product">
        <div class="container page-bgc"> 
            <!-- Services -->
            <div class="service">
                <div class="row">
                    <div class="boxed">
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <!-- <div class="icon">
                                        <span class="ion-ios-football"></span>
                                    </div> -->
                                     <div class="mt-10">
                                        FOOTBALL GAMES
                                    </div>
                                </div>
                                <p>
                                    1. PS5 FC24........<b>&#x20A6;600</b><br>
                                    2. PS5 PES 24......<b>&#x20A6;600</b><br>
                                    3. PS4 FIFA 23.....<b>&#x20A6;350</b><br>
                                    4. PS4 FC24........<b>&#x20A6;350</b><br>
                                    5. PS4 PES.........<b>&#x20A6;350</b><br>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <!-- <div class="icon">
                                        <span class="ion-ios-body"></span>
                                    </div> -->
                                     <div class="mt-10">
                                        MORTAL KOMBAT
                                    </div>
                                </div>
                                <p>
                                    1. PS3 MK........<b>&#x20A6;200</b><br>
                                    2. PS4 MK........<b>&#x20A6;250</b><br>
                                    3. PS5 MK........<b>&#x20A6;400</b><br>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <!-- <div class="icon">
                                        <span class="ion-ios-construct"></span>
                                    </div> -->
                                     <div>
                                        CAR RACING WITH STEERING WHEEL
                                    </div>
                                </div>
                                <p>
                                    1. PS4 NEED FOR SPEED (PAD)...<b>&#x20A6;300</b>...(WHEEL)...<b>&#x20A6;700</b><br>
                                    2. PS4 NFS (WHEEL)....<b>&#x20A6;700</b><br>
                                    3. PS4 ASSETO (PAD)....<b>&#x20A6;300</b>...(WHEEL)...<b>&#x20A6;700</b><br>
                                    4. PS4 F1 21 (PAD)....<b>&#x20A6;300</b>...(WHEEL)...<b>&#x20A6;700</b><br>
                                    5. PS4 GRAND TOURISM 7 (PAD)....<b>&#x20A6;300</b>...(WHEEL)...<b>&#x20A6;700</b><br>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <!-- <div class="icon">
                                        <span class="ion-ios-construct"></span>
                                    </div> -->
                                     <div>
                                        ADVENTURE GAMES
                                    </div>
                                </div>
                                <p>
                                    1. BOXING........<b>&#x20A6;1500</b><br>
                                    2. CALL OF DUTY........<b>&#x20A6;2500</b><br>
                                    3. RUSH FOR BLOOD (PER 20 MINUTES)........<b>&#x20A6;2500 </b><br>
                                    4. RESIDENT EVIL........<b>&#x20A6;2500</b><br>
                                    5. O SHACK........<b>&#x20A6;2500 </b><br>
                                    6. PLANT FALL........<b>&#x20A6;2500</b><br>
                                    7. SKY FALL........<b>&#x20A6;2500 </b><br>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <!-- <div class="icon">
                                        <span class="ion-ios-construct"></span>
                                    </div> -->
                                     <div>
                                        VIRTUAL REALITY GAMES
                                    </div>
                                </div>
                                <p>
                                    1. CALL OF DUTY PER HOUR (PS5)...<b>&#x20A6;3K</b>...(PS4)...<b>&#x20A6;2500</b><br>
                                    2. GTA5 PER HOUR (PS5)...<b>&#x20A6;3K</b>...(PS4)...<b>&#x20A6;2500</b><br>
                                    3. WATCH DOG PER HOUR (PS5)...<b>&#x20A6;3K</b>...(PS4)...<b>&#x20A6;2500</b><br>
                                    4. GHOST OF TUSHMA PER HOUR (PS5)...<b>&#x20A6;3K</b>...(PS4)...<b>&#x20A6;2500</b><br>
                                    5. DAYS GONE PER HOUR (PS5)...<b>&#x20A6;3K</b>...(PS4)...<b>&#x20A6;2500</b><br>
                                    6. AVENGERS PER HOUR (PS5)...<b>&#x20A6;3K</b>...(PS4)...<b>&#x20A6;2500</b><br>
                                    7. SPIDERMAN PER HOUR (PS5)...<b>&#x20A6;3K</b>...(PS4)...<b>&#x20A6;2500</b><br><br>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <!-- <div class="icon">
                                        <span class="ion-ios-body"></span>
                                    </div> -->
                                     <div class="mt-10">
                                        OTHER GAMES
                                    </div>
                                </div>
                                <p>
                                    1. WRESTLING........<b>&#x20A6;350</b><br>
                                    2. UFC 24........<b>&#x20A6;350</b><br>
                                    3. BASKETBALL PS4........<b>&#x20A6;350</b><br>
                                    4. BASKETBALL PS5........<b>&#x20A6;500</b><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
