{% extends 'user/base.html' %}
{% load static %}

{% block header %}     
    <!-- Header -->
    <section id="header" class="main-header contact-header inner-header">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-bar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="site-nav-bar">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'web_login' %}">Login</a></li>
                            <li><a href="{% url 'web_register' %}">Register</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
            
            <div class="intro row">
                <div class="overlay"></div>
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Password Reset</li>
                    </ol>
                </div>
            </div> <!-- /.intro.row -->
        </div> <!-- /.container -->
        <div class="nutral"></div>
    </section> <!-- /#header -->
{% endblock header %}

{% block content %}
    <section class="contact">
        <div class="container page-bgc">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box">
                        <h2 class="title mt0">Enter your mail</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="boxed">
                    <div class="col-sm-12">
                        <p>A code to use in resetting your password will be sent to your mail if an account exists</p>
                        <form class="contact-form" id="contactForm" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email*" id="id_email" name="email">
                                    </div> <!-- /.form-group -->
                                </div> <!-- /.col-sm-6 -->
                                <div class="text-center mt20 col-sm-12">
                                    <p><b><a href="{% url 'web_login' %}">GO TO LOGIN</a></b></p>
                                    <button type="submit" class="btn btn-robot pull-left" id="cfsubmit">SEND CODE</button>
                                </div>
                            </div>
                        </form>
                        <div id="contactFormResponse"></div>
                    </div> <!-- /.col-sm-12 -->
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
